<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Recursive Learning</title>
    <link rel="stylesheet" href="/assets/css/recursive-platform.css">
</head>
<body>
    <h1>Welcome to the Recursive Learning Platform!</h1>
    <p>Explore our demo gallery below:</p>

    <h2>Get in touch with an expert learning designer?</h2>
    <p>This platform was designed in collaboration with experts in adult learning theory and how nonprofit publishers and systems of schools like you work and grow. See below or <a href="https://www.integral-ed.com/our-team" target="_blank">click through for profiles</a>.</p>

    <h2>Looking for ideas of what you can do with this platform?</h2>
    <p>Check out the Clever Noodle Parent Portal:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WrOwsxskyDE?si=MEJfUNpjs1s-CnaB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h2>Looking for instructional design partners to support your organization?</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WrOwsxskyDE?si=g4AxwT5M58_QjLJF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html> 